<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td><a href="{% url 'webguest:Newuser' %}">Newuser</a> </td>
        </tr>

        <tr>
            <td><a href="{% url 'webguest:Login' %}">Login</a> </td>
        </tr>
        
        <tr>
            <td><a href="{% url 'webguest:Cporegistration' %}">CPO Registration</a> </td>
        </tr>
        
    </table>
</body>
</html>