{% extends 'User/Header.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %} 
      <table border="1">  
          <tr>
           <td>Title</td>
           <td><input type="text" name="txttit"></td>
          </tr>
          <tr>
            <td>Complaint</td>
            <td><textarea name="txtcomplaint"></textarea></td>
           </tr>
          <tr>
             <td colspan="2" align="center">
                 <input type="submit" name="Save" value="Save">
                 <input type="reset"  name="Cancel"  value="Cancel">
             </td>
          </tr>
      </table>

      </form>
      <form method="post">
        <table border="1">
            <tr>
                <td>Sl.no</td>
                <td>Title</td>
                <td>Complaint</td>
                <td>Date</td>
                <td>Reply</td>
                <td>Action</td>
            </tr>
            {% for i in complaint %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.complaint_title}}</td>
                <td>{{i.complaint_content}}</td>
                <td>{{i.complaint_date}}</td>
                <td>{{i.complaint_reply}}</td>
                <td><a href="{% url 'webuser:Delcomplaint' i.id %}">Delete</a></td>


            </tr>
            {% endfor %}
       </table>  
       </form>
</body>
</html>
{% endblock content %}