{% extends 'User/Header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %} 
      <table border="1">
          <tr>
           <td>Feedback</td>
           <td><textarea name="txtpro"></textarea></td>
          </tr>
          <tr>
             <td colspan="2" align="center">
                 <input type="submit" name="Save" value="Save">
                 <input type="reset"  name="Cancel"  value="Cancel">
             </td>
          </tr>
      </table>
      </form>
      <table border="1">
        <tr>
            <td>Sl.no</td>
            <td>Feedback</td>
            <td>Date</td>
            <td>Action</td>
        </tr>
        {% for i in feedback %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.feedback_content}}</td>
            <td>{{i.feedback_date}}</td>
            <td><a href="{% url 'webuser:Delfeedback' i.id %}">Delete</a></td>

        </tr>
        {% endfor %}
   </table>  
</body>
</html>
{% endblock content %}