{% extends 'User/Header.html' %}
{% block content %}
{% load static %}


<table border="1" align="center" cellpadding="10">
    <tr>
        <th>Sl.No</th>
        <th>For Date</th>
        <th>For Time</th>
        <th>Port Name</th>
        <th>Port Details</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Address</th>
        <th>Booked Date</th>
        <th>Status</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.booking_fordate }}</td>
        <td>{{ i.booking_fortime }}</td>
        <td>{{ i.port.port_name }}</td>
        <td>{{ i.port.port_details }}</td>
        <td>{{ i.port.watt.type.type_name }}</td>
        <td>{{i.booking_amount}}</td>
        <td>{{i.port.place.place_name}},{{i.port.place.district.district_name}}</td>
        <td>{{i.booking_date}}</td>
        <td>{% if i.booking_status == '0' %}
            Not confirmed
            {% elif i.booking_status == '1' %}
            confirmed/<a href="{% url 'webuser:Payment' i.id %}">Payment</a>
            {% elif i.booking_status == '3' %}
            Payment Completed
            {% else %}
            Rejected
            {% endif %}
        </td>
    {% endfor %}

</table>
{% endblock content %}