{% extends 'CPO/Header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MyProfile</title>
  </head>

  <body>
   
    <form
      id="form1"
      name="form1"
      method="post"
      action=""
      enctype="multipart/form-data"
    >
      <table width="330" height="120" border="1" align="center">
        <h2 align="center"> My Profile</h2>
        <tr>
          <td colspan="2" align="center">
            <img
              src="{{cpo.cpo_proof.url}}"
              alt=""
              width="120"
              height="120"
            />
          </td>
        </tr>

        <tr>
          <td width="97">Name</td>
          <td width="145">{{cpo.cpo_name}}</td>
        </tr>

        <tr>
          <td>Contact</td>
          <td>{{cpo.cpo_contact}}</td>
        </tr>

        <tr>
          <td>Email</td>
          <td>{{cpo.cpo_email}}</td>
        </tr>
       
      </table>
    </form>
  </body>
</html>
{% endblock content %}