{% extends 'Admin/Header.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center">
            <tr><td>District</td></tr>
            <td><input type="text" name="txtdis" id="" value="{{Edit.district_name}}"></td>
        </tr>
            <tr><td><input type="submit" value="save" name="btn"></td></tr>
            </table></form>
            <table border="1"align="center">
                <tr><td>s1.no</td>
                    <td>District</td>
                    <td>Action</td></tr>
                    {% for i in data%}
                    <tr><td>{{forloop.counter}}</td>
                        <td> {{i.district_name}}</td>
                        <td><a href="{% url 'webadmin:districtDelete' i.id %}">Delete</a>/
                            <a href="{% url 'webadmin:eidDistrict' i.id %}">Edit</a></td>
                    </tr>
                        {% endfor%}
                        </table>
            </table>
    
</body>
</html>  {% endblock content%}